.rightColumn0133mainPage{
    display: none;

    /* width: 100%;
    height:450px;

    background-color: var(--cardBackground);

    border: solid 1px var(--border);
    border-radius: var(--border-radius);

    display:flex;
    justify-content:center;
    align-items:center; */
}
@media screen and (min-width: 800px) {
    .rightColumn0133mainPage{
        width: 100%;
        height:450px;

        background-color: var(--cardBackground);

        border: solid 1px var(--border);
        border-radius: var(--border-radius);

        display:flex;
        justify-content:center;
        align-items:center;
    }
}