/* Groww custom CSS start */
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *::before,
html.color-theme-in-transition *::after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}
html{
  /* global colors */
  --primaryClr: #00D09C;
  --primaryClr60: #66E3C4;
  --primaryClr10: #E5FAF5;
  --secondaryClr: #5367FF;
  --secondaryClr150: #1E2232;
  --secondaryClr130: #98A4FF;
  --secondaryClr60: #98A4FF;
  --secondaryClr30: #EEF0FF;
  --growwYellow: #FFB61B;
  --growwYellow10: #FFF5E0;
  --growwYellow05: rgba(255, 182, 27, 0.05);
  --growwRed: #EB5B3C;
  --growwRed10: #FAE9E5;
  --growwRed05: rgba(235, 91, 60, 0.05);
  --border: #ECEDEF;
  --iconLight: #B0B2BA;
  --iconMedium: #DDDEE1;
  --iconStrong: #ECEDEF;
  --boxShadow: rgba(0, 0, 0, 0.1);
  --text130: #44475B;
  --text: #44475B;
  --subText: #7C7E8C;
  --subText50: #B0B2BA;
  --subText70: #ECEDEF;
  --primaryBg: #FFF;
  --secondaryBg: #FFF;
  --tertiaryBg: #ECEDEF;
  --quaternaryBg: #F6F6F7;
  --preloaderBg: #F6F6F7;
  --rippleNormal: rgba(0, 0, 0, 0.1);
  --constantGrowwYellow150: #D2AB66;
  --constantText: #44475B;
  --constantText120: #191C27;
  --constantSubText10: #636464;
  --constantWhite: #FFF;
  --constantTransparent: rgba(0, 0, 0, 0);
  --constantHalfTransparent: rgba(0, 0, 0, 0.5);
  --constantSecondaryClr180: #2A2A2A;
  --constantSecondaryClr10: #F6F6F7;
  --cardBackground: #FFF;
  --growwgramIdColorDirection: 90deg;
}
html[data-theme="dark"] {
  /* global colors */
  --primaryClr: #0ABB92;
  --primaryClr60: #0B5E49;
  --primaryClr10: #0E231E;
  --secondaryClr: #98A4FF;
  --secondaryClr150: #1E2232;
  --secondaryClr130: #323C89;
  --secondaryClr60: #181A2A;
  --secondaryClr30: #181A2A;
  --growwYellow: #E7A61A;
  --growwYellow10: #2E2105;
  --growwYellow05: #222C35;
  --growwRed: #D55438;
  --growwRed10: #2A0F09;
  --growwRed05: rgba(213, 84, 56, 0.05);
  --border: #2A2A2A;
  --iconLight: #7C7E8C;
  --iconMedium: #404042;
  --iconStrong: #2A2A2A;
  --boxShadow: rgba(0, 0, 0, 0.6);
  --text130: #EBEBF5;
  --text: #DCDCDD;
  --subText: #B0B2BA;
  --subText50: #7C7E8C;
  --subText70: #2A2A2A;
  --primaryBg: #121212;
  --secondaryBg: #2A2A2A;
  --tertiaryBg: #2A2A2A;
  --quaternaryBg: #1D1D1D;
  --preloaderBg: #2A2A2A;
  --rippleNormal: rgba(255, 255, 255, 0.1);
  --constantGrowwYellow150: #D2AB66;
  --constantText: #44475B;
  --constantText120: #191C27;
  --constantSubText10: #636464;
  --constantWhite: #EBEBF5;
  --constantTransparent: rgba(0, 0, 0, 0);
  --constantHalfTransparent: rgba(0, 0, 0, 0.5);
  --constantSecondaryClr180: #2A2A2A;
  --constantSecondaryClr10: #2A2A2A;
  --cardBackground: #1D1D1D;
  --growwgramIdColorDirection: 270deg;
}
.fs12 {
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs14 {
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs16 {
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs18 {
  font-size: 1.125rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs20 {
  font-size: 1.25rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs24 {
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs28 {
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs40 {
  font-size: 2.5rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs13 {
  font-size: 13px;
}
.fs15 {
  font-size: 15px;
}
.fs17 {
  font-size: 17px;
}
.fs19 {
  font-size: 19px;
}
.fs21 {
  font-size: 21px;
}
.fs22 {
  font-size: 22px;
}
.fs23 {
  font-size: 23px;
}
.fs25 {
  font-size: 25px;
}
.fs26 {
  font-size: 26px;
}
.fs27 {
  font-size: 27px;
}
.fs29 {
  font-size: 29px;
}
.fs30 {
  font-size: 30px;
}
.fs31 {
  font-size: 31px;
}
.fs32 {
  font-size: 32px;
}
/* Font smoothing classes */
.fsAuto {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.fw500 {
  font-weight: 500;
}
.fw400 {
  font-weight: 400;
}
/* color classes */
.growwRed {
  color: var(--growwRed);
}
.clrText130 {
  color: var(--text130);
}
.clrText {
  color: var(--text);
}
.primaryClr {
  color: var(--primaryClr);
}
.clrSubText {
  color: var(--subText);
}
.growwYellow {
  color: var(--growwYellow);
}
.secondaryClr130 {
  color: var(--secondaryClr130);
}
/* Groww custom CSS end */

/* Global CSS rules */
html{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.button  {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: var(--constantGrowwYellow150);
    /* cursor: pointer; */
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* Q: When hovering over button, only sun, 
    is highlighted. How to make whole 
    button color change? 
    A: Don't put space around colon `:`*/
.button:hover {
    background-color: var(--primaryClr60);
}
.button:active {
    transform: scale(0.99);
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.src0133root{
    background-color: var(--primaryBg);
    color: var(--text);
    --shadow-spread-bottom: 10px;
    --max-profile-width-web: 300px;
    --nav-height: 60px; /* manually computed */
}
@media screen and (min-width: 800px) {
    .src0133root{
        background-color: var(--primaryBg);
        color: var(--text);
        --shadow-spread-bottom: 10px;
        --max-profile-width-web: 800px;
        --nav-height: 60px; /* manually computed */
    }
}