.portfolio0133profile{
    /* --max-width-card: 120px; */
    /* max-width: var(--max-profile-width-web); */
    /* margin: var(--golden-ratio) auto; */
    margin: var(--golden-ratio) 0;
    display: grid;
    gap: 2.5px; /*same thing. key is updated in spec*/
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    --instagram-padding: 5px;
}
.portfolio0133profile > div {
    width: 100%;
}
.profileCardImage{
    width: 100%;
    object-fit: cover;
    height: 200px;
    overflow: contain;
    /* https://stackoverflow.com/a/31444925
    Never use img tag. Ever. Use div;
    insta uses div. */
    display: block;
}
.imageDetails0133portfolio{
    display: none;
}
@media screen and (min-width: 800px) {
    .portfolio0133profile{
        --max-width-card: 250px;
        max-width: var(--max-profile-width-web);
        margin: var(--golden-ratio) auto;
        display: grid;
        grid-gap: 1em; gap: 1em; /*same thing. key is updated in spec*/
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items:flex-start;
    }
    .imageDetails0133portfolio{
        display: block;
        margin: 5px 0;
    }
    .imageDetails0133portfolio li:not(:last-child) {
        margin-right: 5px;
    }
}